--- !seiscloud.config.SeiscloudConfig
project_dir: ./tvz_project
catalog_origin: globalcmt
catalog_fn: mycatalog.pf
dbscan_eps: 0.4
dbscan_nmin: 10
sw_simmat: false
metric: hypocentral
sim_mat_fn: simmat.npy
sim_mat_type: binary
weight_mnn: 1.0
weight_mee: 1.0
weight_mdd: 1.0
weight_mne: 1.0
weight_mnd: 1.0
weight_med: 1.0
tmin: '2007-01-01 08:30:11.935555'
tmax: '2007-03-17 10:39:07.302462'
time_window: '10.0'
latmin: -39.583558
latmax: -37.345486
lonmin: 175.11485
lonmax: 177.99945
depthmin: -2.980469
depthmax: 35.984375
magmin: -1.248287
magmax: 4.502971
magnitude_max: 10.0
max_space_dif: 1000000.0
max_time_dif: 31536000.0
figure_format: png
sw_manual_radius: false
sw_topography: false
map_radius: 450000.0
sw_filter_events: false
sw_force_cluster_all: false
sw_dc_axis: false
sw_global_plots: false
sw_select_colors: false
cluster_colors:
- black
- red
- blue
- green
- darkviolet
- gold
- darkorange
- dodgerblue
- brown
- lightseagreen
- plum
- lawngreen
- palevioletred
- royalblue
- limegreen
- indigo
